<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="istic.m2.ila.firefighterapp">

    <!-- Droits pour pouvoir accéder à la géolocalisation de l'utilisateur et la co internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Clé pour utiliser l'API Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activitiy.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitiy.AddInterventionActivity"
            android:label="Nouvelle Intervention"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activitiy.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitiy.ListInterventionActivity"
            android:label="@string/title_activity_list_intervention"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitiy.DetailsInterventionActivity"
            android:screenOrientation="landscape"
            android:value="@string/title_intervention_details" />

        <service
            android:name=".rabbitMQ.RabbitMQDroneService"
            android:label="Service RabbitMQ" />
        <service
            android:name=".rabbitMQ.clientRabbitMqGeneric.ServiceRabbitMQTraitTopo"
            android:label="Service RabbitMQ TraitTopo" />
        <service
            android:name=".rabbitMQ.clientRabbitMqGeneric.ServiceRabbitMQSinistre"
            android:label="Service RabbitMQ Sinistre" />
        <service
            android:name=".rabbitMQ.clientRabbitMqGeneric.ServiceRabbitMQDeploiement"
            android:label="Service RabbitMQ Deploiment" />

        <activity
            android:name=".activitiy.NewListInterventionActivity"
            android:label="@string/title_activity_new_list_intervention"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>