<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="istic.m2.ila.firefighterapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Droits pour pouvoir accéder à la géolocalisation de l'utilisateur et la co internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Clé pour utiliser l'API Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddInterventionActivity"
            android:label="Nouvelle Intervention"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NewMapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListInterventionActivity"
            android:label="@string/title_activity_list_intervention"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Intervention.DetailsInterventionActivity"
            android:screenOrientation="landscape"
            android:value="@string/title_intervention_details">
        </activity>
        <service
            android:name=".clientRabbitMQ.ServiceRabbitMQ"
            android:label="Service RabbitMQ" />
        <service
            android:name=".clientRabbitMqGeneric.ServiceRabbitMQDrone"
            android:label="Service RabbitMQDroneV2" />
        <service
            android:name=".clientRabbitMqGeneric.ServiceRabbitMQTraitTopo"
            android:label="Service RabbitMQTraitTopo" />
    </application>

</manifest>